body {
  padding: 0 0 30px; }

h2 {
  margin: 32px 0 10px; }

.badge-icon {
  -moz-border-radius: 11px;
  border-radius: 11px;
  background-color: #97E5F9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#163EA4), to(#97E5F9));
  background-image: -webkit-linear-gradient(top, #163EA4, #97E5F9 100%);
  background-image: -moz-linear-gradient(top, #163EA4, #97E5F9 100%);
  background-image: -o-linear-gradient(top, #163EA4, #97E5F9 100%);
  background-image: linear-gradient(to bottom, #163EA4, #97E5F9 100%);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  width: 64px;
  height: 64px;
  position: relative; }

.shine {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.2)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
  -webkit-box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.7);
  height: 36px;
  width: 64px;
  -moz-border-radius-topright: 14px;
  border-top-right-radius: 14px;
  -moz-border-radius-topleft: 14px;
  border-top-left-radius: 14px;
  -moz-border-radius-bottomright: 40px 14px;
  border-bottom-right-radius: 40px 14px;
  -moz-border-radius-bottomleft: 40px 14px;
  border-bottom-left-radius: 40px 14px; }

.demo-nav {
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  width: 218px;
  margin: 30px 10px 0 0;
  padding: 0;
  background-color: #fff; }
  .demo-nav > li:first-child > a {
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0; }
  .demo-nav > li:last-child > a {
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px; }
  .demo-nav > li > a {
    display: block;
    *width: 190px;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
    background-color: #fff; }
  .demo-nav > .active > a {
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); }

.com {
  color: #93a1a1; }

.lit {
  color: #195f91; }

.pun, .opn, .clo {
  color: #93a1a1; }

.fun {
  color: #dc322f; }

.str, .atv {
  color: #D14; }

.kwd, .prettyprint .tag {
  color: #1e347b; }

.typ, .atn, .dec, .var {
  color: teal; }

.pln {
  color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8; }
  .prettyprint.linenums {
    -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0; }

ol.linenums {
  margin: 0 0 0 33px; }
  ol.linenums li {
    padding-left: 12px;
    color: #bebec5;
    line-height: 20px;
    text-shadow: 0 1px 0 #fff; }

.fork {
  position: fixed; }

.btn-group + .btn-group {
  margin: 5px 0 0; }

.nav-list [class^="icon-"] {
  margin-right: 6px; }

@media (max-width: 979px) {
  .sidebar {
    display: none; } }

@media (max-width: 770px) {
  body {
    padding: 0.8em; }
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 24px; }
  h3 {
    font-size: 20px; }
  h1, h2, h3, h4, h5, h6 {
    line-height: 100%; }
  .fork {
    position: absolute; }
  .table th, .table td {
    font-size: 12px; } }

@media (max-width: 639px) {
  .fork {
    display: none; } }
