// ----------------------
//  iOSBadge settings
// ----------------------

$namespace: 'iosb';
$defaultZindex: 20;

// ----------------------
//  Theme settings
// ----------------------

// red theme settings
$color-red: #ce0408;
$color-red-light: lighten($color-red, 25%);
$color-red-text: #fff;
$color-red-shadow: #8d343b;

// blue theme settings
$color-blue: #236ed8;
$color-blue-light: lighten($color-blue, 25%);
$color-blue-text: #fff;
$color-blue-shadow: #1e6bd7;

// green theme settings
$color-green: #1d9a1a;
$color-green-light: lighten($color-green, 25%);
$color-green-text: #fff;
$color-green-shadow: #086d11;

// grey theme settings
$color-grey: #3a3a3a;
$color-grey-light: #868686;
$color-grey-text: #fff;
$color-grey-shadow: #474747;

// ios theme settings
$color-ios: #4a6c9b;
$color-ios-light: #849cbb;
$color-ios-text: #fff;
$color-ios-shadow: #626a76;

// badge's shadow color
$color-box-shadow: transparentize(#444, 0.2);
$color-inner-shadow: transparentize(#fff, 0.7);

// ----------------------
//  iOSBadge mixins
// ----------------------

@mixin create-base {
	.#{$namespace} {
		position: absolute;
		z-index: $defaultZindex;
		background: #fff;
	}
	.#{$namespace}-content {
		text-align: center;
		font-weight: 700;
		font-family: Arial, sans-serif;
	}
}

@mixin create-theme($themeName, $darkColor, $lightColor, $textColor, $shadowColor) {
	.#{$namespace}-#{$themeName} {
		background-color: $darkColor;
		background-image: linear-gradient($lightColor, $darkColor);
		.#{$namespace}-content {
			color: $textColor;
			text-shadow: 1px -1px 1px $shadowColor;
		}
	}
}

@mixin create-size($badgeSize) {

	// Variables
	//
	// Some of these calculations
	// are not really based on anything
	// so there is a lot of room for improvement

	$pi: 3.14159265;
	$piHalf: $pi / 2;

	$borderSize: floor($badgeSize  / 11.5);
	$borderSizeTimes2: $borderSize * 2;
	$badgeSizeHalf: $badgeSize / 2;
	$badgeSizeBy4: ceil($badgeSize / 4);
	$innerSize: $badgeSize - $borderSizeTimes2;
	$positionSize: floor($badgeSizeHalf - $badgeSizeBy4);
	$numberSize: floor($innerSize / $piHalf);

	.#{$namespace}-#{$badgeSize} {
		box-shadow: 0 #{$borderSize}px #{$borderSizeTimes2}px #{$color-box-shadow}, 0 #{$borderSize}px #{$color-inner-shadow} inset;
		min-width: #{$badgeSize}px;
		height: #{$badgeSize}px;
		&, .#{$namespace}-inner {
			border-radius: #{$badgeSizeHalf}px;
		}
		.#{$namespace}-inner {
			margin: #{$borderSize}px;
			min-width: #{$innerSize}px;
			height: #{$innerSize}px;
		}
		.#{$namespace}-content {
			padding: 0 #{$badgeSizeBy4}px;
			line-height: #{$innerSize}px;
			height: #{$innerSize}px;
		}
		&.#{$namespace}-top-left {
			top: -#{$positionSize}px;
			left: -#{$positionSize}px;
		}
		&.#{$namespace}-top-right {
			top: -#{$positionSize}px;
			right: -#{$positionSize}px;
		}
		&.#{$namespace}-bottom-left {
			bottom: -#{$positionSize}px;
			left: -#{$positionSize}px;
		}
		&.#{$namespace}-bottom-right {
			bottom: -#{$positionSize}px;
			right: -#{$positionSize}px;
		}
		.#{$namespace}-string {
			font-size: #{$badgeSizeHalf}px;
		}
		.#{$namespace}-number {
			font-size: #{$numberSize}px;
		}

	}

}

// ------------------------
//  Create base classes...
// ------------------------

@include create-base;

// ------------------------
//  Create color themes...
// ------------------------

/* BEGIN themes */

@include create-theme(
	$themeName: 'red',
	$darkColor: $color-red,
	$lightColor: $color-red-light,
	$textColor: $color-red-text,
	$shadowColor: $color-red-shadow
);

@include create-theme(
	$themeName: 'blue',
	$darkColor: $color-blue,
	$lightColor: $color-blue-light,
	$textColor: $color-blue-text,
	$shadowColor: $color-blue-shadow
);

@include create-theme(
	$themeName: 'green',
	$darkColor: $color-green,
	$lightColor: $color-green-light,
	$textColor: $color-green-text,
	$shadowColor: $color-green-shadow
);

@include create-theme(
	$themeName: 'grey',
	$darkColor: $color-grey,
	$lightColor: $color-grey-light,
	$textColor: $color-grey-text,
	$shadowColor: $color-grey-shadow
);

@include create-theme(
	$themeName: 'ios',
	$darkColor: $color-ios,
	$lightColor: $color-ios-light,
	$textColor: $color-ios-text,
	$shadowColor: $color-ios-shadow
);

/* END themes */

// --------------------------
// Create sizes...
// --------------------------

/* BEGIN sizes */

@include create-size(20);
@include create-size(22);
@include create-size(24);
@include create-size(26);
@include create-size(28);
@include create-size(30);
@include create-size(32);
@include create-size(34);
@include create-size(36);

/* END sizes */
