@import "compass/css3";

body {
  padding: 0 0 30px;
}

h2 {
  margin: 32px 0 10px;
}

// Demo icon

.badge-icon {
  @include border-radius(11px);
  background: #97E5F9;
  @include background(linear-gradient(top, #163EA4, #97E5F9 100%));
  @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  //border: 1px #444 solid;
  width: 64px;
  height: 64px;
  position: relative;
}

// based on http://jsfiddle.net/LQZyt/1/
.shine {
  @include background(linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.2)));
  @include box-shadow(inset 0 2px 1px rgba(255, 255, 255, 0.7));
  height: 36px;
  width: 64px;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 40px 14px;
  border-bottom-left-radius: 40px 14px;
}

// Demo navigation

.demo-nav {
  @include border-radius(6px);
  @include box-shadow(0 1px 4px rgba(0, 0, 0, .065));
  width: 218px;
  margin: 30px 10px 0 0;
  padding: 0;
  background-color: #fff;
  > {
    li {
      &:first-child {
        > a {
          @include border-radius(6px 6px 0 0);
        }
      }
      &:last-child{
        > a {
          @include border-radius(0 0 6px 6px);
        }
      } 
      > {
        a {
          display: block;
          *width: 190px;
          margin: 0 0 -1px;
          padding: 8px 14px;
          border: 1px solid #e5e5e5;
          background-color: #fff;
        }
      }
    }
    .active > a {
      @include box-shadow(inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1));
      position: relative;
      z-index: 2;
      padding: 9px 15px;
      border: 0;
      text-shadow: 0 1px 0 rgba(0,0,0,.15);
    }
  }
}

// Prettify

.com {
  color: #93a1a1; 
}

.lit {
  color: #195f91;

}
.pun, .opn, .clo {
  color: #93a1a1;
}

.fun {
  color: #dc322f;
}

.str, .atv {
  color: #D14;
}

.kwd, .prettyprint .tag {
  color: #1e347b;
}

.typ, .atn, .dec, .var {
  color: teal;
}

.pln {
  color: #48484c;
}

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  &.linenums {
    @include box-shadow(inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0);
  }
}

// Specify class=linenums on a pre to get line numbering
ol.linenums {
  margin: 0 0 0 33px; // IE indents via margin-left
  li {
    padding-left: 12px;
    color: #bebec5;
    line-height: 20px;
    text-shadow: 0 1px 0 #fff;
  }
}

.fork {
  position: fixed;
}

.btn-group + .btn-group {
  margin: 5px 0 0;
}

@media (max-width: 979px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 770px) {
  body {
    padding: 0.8em;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  .fork {
    position: absolute;
  }
}
